<div th:fragment="head(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><b>N</b>ews<b>P</b>osting </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item" th:classappend="${activeTab == 'list' ? 'active' : ''}">
                    <a class="nav-link" href="/list">Список публикаций</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'add' ? 'active' : ''}">
                    <a class="nav-link" href="/post">Добавить публикацию</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'alist' ? 'active' : ''}">
                    <a class="nav-link" href="/listadmin">Редактировать список публикаций</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'reg' ? 'active' : ''}">
                    <a class="nav-link" href="/registration">Регистрация</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'reglist' ? 'active' : ''}">
                    <a class="nav-link" href="/persons">Зарегистрированные пользователи</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" >
<!--                <li class="nav-item">-->
                    <a class="btn btn-light" href="/login">Логин</a>
<!--                </li>-->
<!--                <input class="form-control mr-sm-2" type="hidden" />-->
<!--                <button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>-->
            </form>
        </div>
    </nav>
</div>